.button {
    -fx-padding: 5 10 5 10;   
    -fx-background-radius: 3;
    -fx-background-color: #000000;
    -fx-font-family: "Myriad Set Pro Text";
    -fx-font-size: 10pt;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #515661;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #006ecc;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #B5B5B5;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.label {
    -fx-text-fill: #000000;
    -fx-font-family: "Helvetica Neue UltraThin";
    -fx-font-size: 20pt;
}