
.rootNode {
    -fx-background-color: #ffffd0;
    -fx-font-family: "Liberation Sans";
    -fx-font-size: 12;
}

        /* Header */
.headerMenu {
    -fx-background-color: #c0ffc0;
}
.headerButton {
    -fx-background-color: #b0f0b0;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}
.headerCurrentButton {
    -fx-background-color: #ffffff;
    -fx-text-fill: #202020;
    -fx-font-size: 14;
}

        /* Sections */
.sectionTitle {
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 28;
}
.slideShow {
    -fx-background-color: #000000;
}
.infoTitle {
    -fx-font-family: "DejaVu Sans";
    -fx-font-size: 15;
}
.infoDescr {
    -fx-text-alignment: center;
}
.productGrid {
    -fx-background-color: #efefc0;
}
.productGridElement {
    -fx-font-size: 12;
}
.shopsTableColumn {
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: #505050;
    -fx-border-width: 0.1;
}

        /* Contact */
.contactText {
    -fx-font-size: 22;
    -fx-text-alignment: center;
}