
.rootNode {
    -fx-background-color: #f0f0ff;
    -fx-font-family: "Verdana";
    -fx-font-size: 12;
}

        /* Header */
.headerMenu {
    -fx-background-color: #000000;
}
.headerButton {
    -fx-background-color: #000000;
    -fx-font-size: 12;
}
.headerCurrentButton {
    -fx-background-color: #666666;
    -fx-font-size: 12;
}

        /* Sections */
.sectionTitle {
    -fx-font-family: System;
    -fx-font-size: 25;
}
.slideShow {
    -fx-background-color: #000000;
}
.infoTitle {
    -fx-font-family: System;
    -fx-font-size: 18;
}
.infoDescr {
    -fx-text-alignment: center;
}
.productGrid {
    -fx-background-color: #dddddd;
}
.productGridElement {
    -fx-font-size: 8;
}
.shopsTableColumn {
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

        /* Contact */
.contactText {
    -fx-font-size: 17;
    -fx-text-alignment: center;
}